input[type="submit"] {
  color: red;
  background-color: black;
  position: absolute;
  top: 3%;
  left: 2%;
}

h5 {
	color: black;
	font-size: 20px;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
}

h3 {
    color: red;
	font-size: 24px;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
}


h6 {
	text-align: center;
	font-size: 16px;
	word-wrap: break-word;
	width: 250px;
	position: relative;
	left: 41.5%;
	font-weight: bold;
	color: red;
}
p {
	word-wrap: break-word;
	width: 500px;
	position: relative;
	left: 32%;
	text-align: center;
	font-family: Verdana;
	font-size: 16px;
}
form#contactme {
  position: absolute;
  left: 45%;
  padding-top: 2%;
}

button {
  position: absolute;
  left: 48%;
  top: 120%;
  background-color: black;
  color: red;
}
button:active {
	color: green;
}

.fade.in {
  opacity: 1;
}
.alert-warning {
  color: #33CC33;
  background-color: black;
  border-color: black;
}
.alert-dismissable, .alert-dismissible {
  padding-right: 35px;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

input#message {
  width: 300px;
  height: 200px;
  position: relative;
}

.btn-default {
  color: red;
  background-color: black;
  border-color: black;
}

.contact {
  position: absolute;
  left: 45%;
  bottom: -28%;
}