body.page-games #main{
	background: url("https://media.amctv.com/assets/mobile-images/games-page-header.png") top left no-repeat;
	padding: 80px 0 0 0;
}

/*IMR header images*/
body.page-games .movies-games h2.cfct-mod-title {
	background:url("../img/imr/movie-games-and-quizzes-285x26.png") no-repeat scroll left top transparent;
	display: block;
    height: 26px;
    text-indent: -5000px;
    width: 285px;
}

body.page-games h2.cfct-mod-title {
	background:url("../img/imr/show-games-and-quizzes-285x26.png") no-repeat scroll left top transparent;
	display: block;
    height: 26px;
    text-indent: -5000px;
    width: 285px;
}